<% if (locals.user){ %>
	<!-- <div id="user-chat-box">
		<ul id="chat-messages-list">
			<li class="other-message">
				<span>Hi</span>
			</li>
			<li class="self-message">
				<span>
					Bye
				</span>
				
			</li>

		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message">Send</button>
		</div>

	</div> -->





	<div id="user-chat-box">
		<div class="chat-head">
			<h2>Chat Room</h2>
			<img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="" width="25"
				height="25">
		</div>

		<div class="chat-body">
			<ul id="chat-messages-list">
				<li class="other-message">
					<!-- <span>Hi</span> -->
				</li>
				<li class="self-message">
					<!-- <span>Bye</span> -->
				</li>
			</ul>

			<div id="chat-message-input-container">
				<input id="chat-message-input" placeholder="Type message here">
				<button id="send-message">Send</button>
			</div>
		</div>

	</div>


	<% } %>