<% if (locals.user){ %>
	<!-- <div id="user-chat-box">
		<ul id="chat-messages-list">
			<li class="other-message">
				<span>Hi</span>
			</li>
			<li class="self-message">
				<span>
					Bye
				</span>
				
			</li>

		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message">Send</button>
		</div>

	</div> -->

	<div class="chat-box">

		<div class="chat-head">
			<h2>Chat Room</h2>
			<img src="https://drive.google.com/uc?export=view&id=1n1iR_ZMVxQqfnduSTjwXoonClbV5k7Cv" title="" width="30"
				height="20">
		</div>

		<div class="chat-body">

			<ul id="chat-messages-list">
				<li class="other-message">
					<!-- <span>Hi</span> -->
				</li>
				<li class="self-message">
					<!-- <span>Bye</span> -->
				</li>
			</ul>

			<div id="chat-message-input-container">
				<input id="chat-message-input" placeholder="Type message here">
				<button id="send-message">Send</button>
			</div>

		</div>
	</div>



	<% } %>