<link rel="stylesheet" href="/css/confirmEmail.css">

<div id="email-confirm-page">
    <div class="top">
        <h2 class="wlcm-title">Welcome To <span>Socialite </span></h2>
        <h3>Reset Password</h3>
    </div>
    <div class="bottom">
        <h2 class="btm-header">Enter you Email Address</h2>
        <form action="/reset/verifyEmail" method="POST">
            <input name="email" type="email" placeholder="Your Email-id" required>
            <input type="submit" value="Confirm">
        </form>
        
        <p id="already-account">
            <span>New to Socialite ?</span>
            <a href="/users/sign-up">Sign Up</a>
        <p>
    </div>
</div>