<link rel="stylesheet" href="/css/emailVerified.css">

<div id="email-verified-page">
    <div class="top">
        <h2 class="wlcm-title">Welcome To <span>Socialite </span></h2>
        <h3>Reset Password</h3>
    </div>
    <div class="bottom">
        <h2 class="btm-header">Password Reset Link Sent !</h2>
        <h3>Please check you inbox</h3>
        
        <p id="already-account">
            <span>New to Socialite ?</span>
            <a href="/users/sign-up">Sign Up</a>
        <p>
    </div>
</div>