<link rel="stylesheet" href="/css/resetPassword.css">

<div id="reset-password-page">
    <div class="top">
        <h2 class="wlcm-title">Welcome To <span>Socialite </span></h2>
        <h3>Reset Password</h3>
    </div>
    <div class="bottom">
        <h2 class="btm-header">Enter a new Password</h2>
        <form action="/reset/change-password?accessToken=<%=accessToken%>" method="POST">
            <input name="password" type="password" placeholder="New Password" required>
            <input name="confirmpassword" type="password" placeholder="Confirm Password" required>
            <input type="submit" value="Reset">
        </form>
        
        <p id="already-account">
            <span>New to Socialite ?</span>
            <a href="/users/sign-up">Sign Up</a>
        <p>
    </div>
</div>