<html>
    <head>
        
    </head>
    <link rel="stylesheet" href="/css/user_profile.css">

    <body>
        <h1>Codeial / Profile Page</h1>
        <h3>Welcome, <%= user.name %></h3>
    </body>
</html>