<link rel="stylesheet" href="/css/user_sign_in.css">

<div id="sign-in-page">
    <div class="top">
        <h2 class="wlcm-title">Welcome To <span>Socialite </span></h2>
        <div id="google-sign-in">
            <h3>Login with Google</h3>
            <a href="/users/auth/google"><img src="/images/google.png" height="30" width="30"></a>
        </div>
    </div>
    <div class="bottom">
        <h2 class="btm-header">Sign in</h2>
        <form action="/users/create-session" method="POST">
            <input name="email" type="email" placeholder="Your Email-id" required>
            <input name="password" type="password" placeholder="Password" required>
            <input type="submit" value="Sign In">
        </form>

        <a href="/reset/">Forgot Password ?</a>
        
        <p id="already-account">
            <span>New to Socialite ?</span>
            <a href="/users/sign-up">Sign Up</a>
        <p>
    </div>
</div>