.chat-box {
  position: fixed;
  right: 10px;
  bottom: 0px;
  background: white;
  width: 300px;
  border-radius: 5px 5px 0 0;
  z-index: 1;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px 1px lightgrey;

  .chat-head {
    width: inherit;
    height: 30px;
    background: #2c3e50;
    border-radius: 5px 5px 0 0;
    padding: 0px 1px 25px 0;

    h2 {
      color: white;
      padding-left: 15px;
      display: inline-block;
    }

    img {
      cursor: pointer;
      float: right;
      width: 25px;
      margin: 15px;
    }
  }

  .chat-body {
    height: 400px;
    width: inherit;
    overflow: auto;
    // margin-bottom: -90px;
    margin-bottom: 45px;

    #chat-messages-list {
      margin: 0;
      list-style: none;
      padding: 10px;
      height: 64%;
      background-color: white;
      //   overflow: auto;

      .other-message {
        text-align: left;
        padding: 5px;
        span {
          display: inline-block;
          padding: 13px;
          border-radius: 5px;
          color: white;
          background-color: #3498db;
        }
        sub {
          color: black;
          font-size: 15px;
          margin-left: 8px;
        }
      }

      .self-message {
        text-align: right;
        padding: 5px;
        span {
          display: inline-block;
          padding: 13px;
          border-radius: 5px;
          color: white;
          background-color: #2ecc71;
        }
        sub {
          display: none;
        }
      }
    }

    #chat-message-input-container {
      position: fixed;
      bottom: -40px;
      height: 80px;
      width: inherit;
      // height: 80px;
      // width: 100%;
      display: flex;
      flex-direction: row;

      #chat-message-input {
        height: 50%;
        width: 70%;
        box-sizing: border-box;
      }

      #send-message {
        height: 50%;
        width: 30%;
        font-size: 25px;
        color: white;
        border: none;
        background: #58d258;
      }
    }
  }
}

// CHANGE :: add styling for the chat box
