.post-div {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1.5px solid rgb(222, 215, 215);
  margin-bottom: 20px;
  

  .pic {
    width: 70px;
    height: 70px;
    padding: 10px;
    img {
      background-image: url("https://www.cmrad.com/images/no-avatar.png?91eb3221c85873fb856995c8791edd66");
      background-size: contain;
      object-fit: cover;
      background-position: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      //   padding: 10px;
    }
  }
  .content {
    width: 100%;
    .tophead {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      //   justify-content: center;
      padding: 15px;
      .username {
        flex: 1 1 100%;
        font-weight: 900;
        font-size: 18px;
        font-color: black;
        outline: none;
      }
      a,
      a:hover,
      a:focus,
      a:active {
        text-decoration: none;
        color: inherit;
      }
      .post-date {
        flex: 1 1 200px;
        font-size: 13px;
        padding-top: 4px;
        color: rgb(130, 129, 129);
      }

      .delete-post-button {
        float: right;
        width: 20px;
        height: 20px;
        img {
          width: 15px;
          height: 20px;
        }
      }
    }

    .text {
      font-size: 17px;
      padding-left: 15px;
    }

    .interact {
      padding-left: 15px;
      margin-top: 15px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .like {
        flex: 0 0 10%;
        width: 15px;
        height: 15px;
        a {
          text-decoration: none;
        }
        .like-span {
          display: flex;
          flex-direction: row;
          img {
            padding-left: 5px;
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    .post-comments {
      padding-left: 15px;
      #new-comment-form {
        .field-input {
          font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
          width: 50%;
          border: 1px solid #ccc;
          background: #fff;
          margin: 0 0 5px;
          padding: 10px;
          height: 30px;
          max-width: 100%;
          resize: none;
          &:hover {
            -webkit-transition: border-color 0.3s ease-in-out;
            -moz-transition: border-color 0.3s ease-in-out;
            transition: border-color 0.3s ease-in-out;
            border: 1px solid rgb(153, 151, 151);
          }
        }

        .add-cmt-btn {
          margin-left: 10px;
          height: 30px;
          // padding: 10px 25px;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          background: transparent;
          outline: none !important;
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;
          display: inline-block;
          border: 1px solid black;
          border-radius: 5px;
          z-index: 1;
          color: black;

          &:hover {
            background-color: black;
            color: white;
          }
        }
      }

      .post-comments-list {
        margin-top: -10px;
        padding: 0;
        // border: 2px solid red;
        ul {
          padding: 0;
          margin-top: -10px;
          // margin: -5px 0 0 0 ;
          // border: 2px solid green;
          list-style-type: none;
        }
      }
    }
  }
}
