body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/background1.jpg");
  
    #reset-password-page {
      background-color: white;
      height: 38rem;
      width: 33rem;
      border-radius: 15px;
      margin: 80px auto;
      box-shadow: 0 0 30px 6px #282bb485;
  
      .top {
        color: #ffffff;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../images/3.jpg");
        background-blend-mode: lighten;
        background-color: #e0bef175;
        overflow: hidden;
        // background-color: yellow;
        padding: 10px;
        border-radius: 15px 15px 0px 0px;
  
        .wlcm-title {
          color: white;
          display: block;
          font-size: 2em;
          text-align: center;
          span {
            font-weight: 900;
            font-size: 2.1em;
            color: white;
            display: block;
          }
        }
  
        h3 {
          color: white;
          display: block;
          font-size: 1.8em;
          text-align: center;
        }
      }
  
      .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .btm-header {
          text-align: center;
          font-family: arial;
          font-size: 1.3em;
          font-weight: bold;
          margin-top: 50px;
        }
  
        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: white;
  
          input {
            display: inline-block;
            margin-top: 0.5rem;
            width: 18rem;
            padding: 0.8rem;
            font-size: 0.7rem;
            font-family: sans-serif;
          }
          input[type="submit"] {
            margin-top: 20px;
            background-color: #4834c9;
            color: white;
            font-size: 1rem;
            outline: none;
            width: 120px;
            cursor: pointer;
            border: none;
            border-radius: 20px;
            transition: 0.2s ease-in-out;
            &:hover {
              background-color: #2e1d9d;
              box-shadow: 0 3px 6px 1px #042d4657;
            }
          }
        }
  
        #already-account {
          margin-top: 40px;
          a {
            text-decoration: none;
            color: #3449eb;
          }
        }
      }
    }
  }
  