.wrapper {
  background-color: #ecf8f8;
  min-height: 100vh;

  .header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;

    background: linear-gradient(-45deg, #0b4f6c, #458bae, #458bae, #084a66);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    h1 {
      color: white;
      font-size: 35px;
    }

    img {
      // background-color: green;
      background-image: url("https://www.cmrad.com/images/no-avatar.png?91eb3221c85873fb856995c8791edd66");
      background-size: contain;
      object-fit: cover;
      background-position: center;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      overflow: hidden;
    }

    h3 {
      color: white;
      font-size: 30px;
    }

    p {
      color: white;
      font-size: 20px;
    }

    .add-frnd-btn {
      width: 150px;
      font-size: 16px;
      font-weight: 600;
      font-family: 'Maven Pro', sans-serif;
      color: #fff;
      cursor: pointer;
      margin: 20px;
      height: 55px;
      text-align: center;
      border: none;
      background-size: 300% 100%;
      border-radius: 50px;
      moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    .add-frnd-btn:hover {
      background-position: 100% 0;
      moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

    .add-frnd-btn:focus {
      outline: none;
    }

    .add-frnd-btn.bn22 {
      background-image: linear-gradient(
        to right,
        #0ba360,
        #3cba92,
        #30dd8a,
        #2bb673
      );
      box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
    }

    .remove-frnd-btn {
      width: 150px;
      font-size: 16px;
      font-weight: 600;
      font-family: 'Maven Pro', sans-serif;
      color: #fff;
      cursor: pointer;
      margin: 20px;
      height: 55px;
      text-align: center;
      border: none;
      background-size: 300% 100%;
      border-radius: 50px;
      moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    .remove-frnd-btn:hover {
      background-position: 100% 0;
      moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

    .remove-frnd-btn:focus {
      outline: none;
    }

    .remove-frnd-btn.bn22 {
      background-image: linear-gradient(
        to right,
        #bc3618,
        #cb582f,
        #dd4730,
        #b6402b
      );
      box-shadow: 0 4px 15px 0 rgba(186, 65, 43, 0.75);
    }
  }

  .update {
    min-height: 30vh;
    
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    h3{

    }
    .update-form{
      
    }
  }
}
