<div>
    <p>Hello <%=comment.user.name%> !</p>
    <br>
    <p> Your comment <strong>
            <%=comment.content%>
        </strong> just got posted on Socialite! </p>
    <br>
    <p>Thank you for using our platform</p>
</div>