body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/background1.jpg"); }
  body #sign-in-page {
    background-color: white;
    height: 38rem;
    width: 33rem;
    border-radius: 15px;
    margin: 80px auto;
    box-shadow: 0 0 30px 6px #282bb485; }
    body #sign-in-page .top {
      color: #ffffff;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../images/3.jpg");
      background-blend-mode: lighten;
      background-color: #e0bef175;
      overflow: hidden;
      padding: 10px;
      border-radius: 15px 15px 0px 0px; }
      body #sign-in-page .top .wlcm-title {
        color: white;
        display: block;
        font-size: 2em;
        text-align: center; }
        body #sign-in-page .top .wlcm-title span {
          font-weight: 900;
          font-size: 2.1em;
          color: white;
          display: block; }
      body #sign-in-page .top #google-sign-in {
        height: 5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px; }
        body #sign-in-page .top #google-sign-in a {
          text-decoration: none;
          background: #3b5998;
          color: #ffffff;
          padding: 12px 45px;
          border-radius: 100px;
          display: inline-block;
          box-shadow: 0 3px 6px 1px #042d4657; }
          body #sign-in-page .top #google-sign-in a img {
            width: 20px;
            height: 20px; }
    body #sign-in-page .bottom {
      display: flex;
      flex-direction: column;
      align-items: center; }
      body #sign-in-page .bottom .btm-header {
        text-align: center;
        font-family: arial;
        font-weight: bold; }
      body #sign-in-page .bottom form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white; }
        body #sign-in-page .bottom form input {
          display: inline-block;
          margin-top: 0.5rem;
          width: 18rem;
          padding: 0.8rem;
          font-size: 0.7rem;
          font-family: sans-serif; }
        body #sign-in-page .bottom form input[type="submit"] {
          margin-top: 20px;
          background-color: #4834c9;
          color: white;
          font-size: 1rem;
          outline: none;
          width: 120px;
          cursor: pointer;
          border: none;
          border-radius: 20px;
          transition: 0.2s ease-in-out; }
          body #sign-in-page .bottom form input[type="submit"]:hover {
            background-color: #2e1d9d;
            box-shadow: 0 3px 6px 1px #042d4657; }
      body #sign-in-page .bottom #already-account a {
        text-decoration: none;
        color: #3449eb; }
