<div>
    <p>Hello, <%=accessToken.user.name%> !</p>
    <br>
    <p> Click the Link below to change your password </p>
    <br>
    <a href="http://localhost:8000/reset/reset-password?accessToken=<%=accessToken.token%>">Change Password</a>
</div>
